__pycache__/
*.pyc 
/csv_trial_files_backtesting/
/excel_trial_files_backtesting/
/plots_trial_files_backtesting/
/charts_plotted_portly/
/excel_summary_files_backtesting/
/csv_summary_files_backtesting/
